/*
 * spa.shell.css
 * Shell styles
*/

.spa-shell-menubar, .spa-shell-imagelist, .spa-shell-toolbox,
.spa-shell-footer {
  position : absolute;
}
.spa-shell-menubar {
  position : fixed;
  background-color : lightgray;
  top    : 8px;
  left   : 50%;
  /*height : 50px;
  width  : 820px;
  margin-left : -417px;*/
  padding: 10px;
  border-style     : solid;
  border-width     : 4px;
  border-color     : black;
  border-radius    : 5px;
  z-index          : 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.spa-shell-imagelist {
  position : absolute;
  top    : 0px;
  left   : 50%;
  width  : 900px;
  margin-left : -450px;
  padding-top    : 100px;
  padding-bottom : 50px;
  text-align: center;
}
.spa-shell-popup {
  background-color : lightgray;
  margin-top    : -200px;
  margin-left   : -200px;
  top           : 50%;
  left          : 50%;
  width         : 400px;
  height        : 400px;
  background    : #fff;
  border-radius : 3px;
  z-index       : 2;
  border-radius    : 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
