/*
 * spa.toolbox.css
 * Toolbox styles
*/

.spa-toolbox {
  position         : fixed;
  background-color : lightgray;
  bottom           : 0;
  right            : 0;
  z-index          : 2;
  text-align       : center;
  width            : 10em;
  border-style     : solid;
  border-width     : .2em;
  border-color     : black;
  border-top-left-radius    : .3em;
  box-shadow       : 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                     0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border-right-style: none;
  border-bottom-style: none;
  border-bottom-right-radius: 0;
}
.spa-toolbox-togglebutton {
  font-weight     : 20;
  padding-left    : 5px;
  text-align      : left;
  height          : 20px;
  width           : 100%;
  background-color: gray;
}
.spa-toolbox-loadbutton {
  height : 20px;
  width  : 100%;
}
.spa-toolbox-cropbutton {
  height : 20px;
  width  : 100%;
}
.spa-toolbox-savebutton {
  height : 20px;
  width  : 100%;
}
.spa-toolbox-croplimits {
  text-align  :center ;
}
.spa-toolbox-croplimits>div {
  display : inline-block;
  margin  : 2px;
  height  : 40px;
  width   : 40%;
}
.spa-toolbox-croplimits>div>input {
  height : 20px;
  width  : 100%;
}
.spa-toolbox-advert {
  height        : 45px;
  width         : 100%;
  border-style  : solid;
  border-width  : 1px;
}