/*
 * spa.footer.css
 * Footer styles
*/

.spa-footer {
  position : fixed;
  left          : 25%;
  bottom : 8px;
  height : 40px;
  width  : 300px;
  margin-left   : -157px;
  background-color : darkblue;
  border-radius    : 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow  : hidden;
  text-align: center;
}
.spa-footer>p {
  font-size: 14;
}