/*
 * spa.imagebox.css
 * Imagebox styles
*/

.spa-imagebox {
  background-color : lightgray;
  bottom           : 0;
  right            : 0;
  z-index          : 2;
  text-align       : center;
  width            : 1000px;
  border-style     : solid;
  border-width     : .2em;
  border-color     : black;
  border-radius    : .3em;
  box-shadow       : 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                     0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom    : 1em;
}
.spa-imagebox-toolbox{
  display          : inline-block;
  width            : 100%;
}
.spa-imagebox-panel{
  display          : inline-block;
  width            : 100%;
}
.spa-imagebox-divider{
  display           : inline-block;
  vertical-align    : middle;
  width             : .3em;
  height            : 4em;
  border-left-style : solid;
  border-right-style: solid;
  border-left-width : .1em;
  border-right-width: .1em;
  border-left-color : black;
  border-style : solid;
  border-width : 2px;
  border-color: black;
}
.spa-imagebox-maincanvas{
  display          : inline-block;
  vertical-align   : middle;
  width            : 600px;
  margin           : .3em;
}
.spa-imagebox-previewcanvas{
  display : inline-block;
  width            : 300px;
  vertical-align   : middle;
  margin           : .3em;
}
