/*
 * spa.imagebox.toolbox.css
 * Imagebox toolbox styles
*/

.spa-imagebox-toolbox{
  display          : inline-block;
  width            : 100%;
}
.spa-imagebox-toolbox-top{
  text-align       : left;
  width            : 100%;
  display          : inline-block;
}
.spa-imagebox-toolbox-top>span{
  margin-left      : 1em;
  cursor           : pointer;
}
.spa-imagebox-toolbox-top>input[type=text]{
  /*display          : inline;*/
  margin-left      : 1em;
  margin-right     : 2em;
  width            : 20em;
}
.spa-imagebox-toolbox-crop-filename{
  display          : inline;
  vertical-align   : middle;
}
.spa-imagebox-toolbox-toggle, .spa-imagebox-toolbox-remove{
  float            : right;
  width            : 10em;
}
.spa-imagebox-toolbox-remove{
  background-color : red;
  display          : none;
}


.spa-imagebox-toolbox-bottom{
  display          : none;
  width            : 100%;
}
.spa-imagebox-toolbox-bottom>div{
  display          : inline-block;
}
.spa-imagebox-toolbox-inputgroup{
  height           : 3em;
  padding-left     : .5em;
  padding-right    : .5em
  /*width            : 15em;*/
}
.spa-imagebox-toolbox-inputgroup>div{
  height           : 50%;
  text-align       : left;
}
.spa-imagebox-toolbox-inputgroup>div .hovertext {
  background-color : darkgray;
  color            : black;
  padding          : 2px 3px;
  z-index          : 3;

  position         : absolute;
  visibility       : hidden;
}
.spa-imagebox-toolbox-inputgroup>div:hover .hovertext {
  visibility       : visible;
}
.spa-imagebox-toolbox-inputgroup>div>div{
  display          : inline-block;
  text-align       : left;
  white-space      : pre-wrap;
  cursor           : pointer;
  border           : 1px outset #ccc;
}
.spa-imagebox-toolbox-inputgroup>div>input{
  width            : 4em;
  vertical-align   : middle;
  text-align       : center;
}
.spa-imagebox-toolbox-percent {
  width            : 4em;
  vertical-align   : middle;
  text-align       : center;
  /*border           : 1px inset #ccc;*/
  /*background       : white;*/
}
.spa-imagebox-toolbox-percent input {
  width            : 3em;
  border           : none;
  padding          : 0px;
  outline          : none;
}