/*
 * spa.loaderbox.css
 * Loaderbox styles
*/
.spa-loaderbox{
  width            : 1000px;
  text-align       : center;
  /*background-color : #eaedef;*/
  background-color : lightgray;
  border-style     : solid;
  border-width     : 4px;
  border-color     : black;
  border-radius    : 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow         : hidden;
  cursor           : pointer;
  display          : table-cell;
  vertical-align   : middle;
}
.spa-loaderbox-load{
  display: none;
}
.spa-loaderbox-dragover{
  background-color : white;
}