/*
 * spa.imagebox.toolbox.css
 * Imagebox toolbox styles
*/

.spa-imagebox-toolbox{
  display          : inline-block;
  width            : 100%;
}
.spa-imagebox-toolbox-bottom, .spa-imagebox-toolbox-remove{
  display          : none;
}
.spa-imagebox-toolbox-top{
  text-align       : left;
  width            : 100%;
  display          : inline-block;
}
.spa-imagebox-toolbox-remove{
  vertical-align   : top;
}
.spa-imagebox-toolbox-orig-filename{
  height           : 1em;
  display          : inline;
  margin-left      : 3em;
  margin-right     : 3em;
}
.spa-imagebox-toolbox-crop-filename{
  display          : inline;
  vertical-align   : middle;
}
.spa-imagebox-toolbox-toggle{
  float            : right;
}


.spa-imagebox-toolbox-bottom{
  width            : 100%;
}
.spa-imagebox-toolbox-bottom>div{
  display          : inline-block;
}
.spa-imagebox-toolbox-inputpair{
  height           : 3em;
  width            : 25%;
}
.spa-imagebox-toolbox-inputpair>div{
  height           : 50%;
  width            : 100%;
  text-align       : right;
}
.spa-imagebox-toolbox-inputpair>div>div{
  display          : inline-block;
  text-align       : right;
  white-space      : pre-wrap;
}
.spa-imagebox-toolbox-inputpair>div>input{
  width            : 4em;
  vertical-align   : middle;
  text-align       : right;
}